.input-box{
    padding: 18px;
    margin: 0px 0px;
    border-radius: 10px;
    border:none;
    background-color: rgb(228, 215, 215);
    color: rgb(163, 156, 156);
}

.formInput{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    text-size-adjust:  auto;
    width: 95%;
    height: 90px;
}

label{
    color: rgb(78, 83, 105);
}

span {
    font-size: 14px;
    color: red;
    display: none;
}

input:invalid ~ span {
    display: block;
}