.input-box{
    padding: 15px;
    margin: 0px 0px;
    border-radius: 10px;
    border:none;
    background-color: rgb(186, 206, 243);
    color: rgb(142, 167, 204);
}

.formInput{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    width: 80%;
    height: 75px;
    padding-left: 40px;
}

label{
    color: rgb(78, 83, 105);
}


input:invalid ~ span {
    display: block;
}

span {
    font-size: 14px;
    color: red;
    display: none;
}
