body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:grey;
    margin-top: 10%;
    background-image: url("../Assets/blue-bg.jpg");
    background-size:cover;

}
.container{
    background-color: white;
    width: 650px;
    height: 650px;
    border-radius: 50%;
}

.container h1{
    padding-top: 20%;
    text-align: center;
    color: darkslateblue;
}

.loginForm {
    padding-right: 15%;
    padding-left: 15%;
}

.submitButton {
    width: 250px;
    height: 50px;
    background-color:rgb(51, 75, 198);
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 20%;
    color: white;
}

.registerLink {
    text-align: center;
}